menu "mpc8260 CPU"
	depends on MPC8260

config SYS_CPU
	default "mpc8260"

choice
	prompt "Target select"
	optional

config TARGET_SDLU
	bool "sdlu"

config TARGET_MPC8247DB
	bool "mpc8247db"

endchoice

source "board/huachuang/sdlu/Kconfig"

endmenu
